# Python
__pycache__/
*.pyc
*.pyo

# 仿真文件
*.vcd
*.fsdb
*.vpd
simv*
csrc/
*.log
*.key

# 结果文件
results/logs/*
results/figs/*
!results/logs/.gitkeep
!results/figs/.gitkeep

# 编辑器
*.swp
*~
.vscode/
.gittoken

# 编译产物（补充）
sw/c_model/*.o
sw/c_model/test_tile
sw/c_model/test_gemm
sw/c_model/gemm_cli
